* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

.main-footer {
  background: #2ddf5c;
  color: white;
  padding: 1px;
}

.main-footer ul {
  list-style: none;
  text-align: center;
}

.main-footer li {
  display: inline-block;
  margin: 0 16px;
}

.main-footer a {
  text-decoration: none;
  color: rgb(9, 48, 22);
}
.main-footer a:hover {
  text-decoration: none;
  color: rgb(29, 14, 115);
}

.button {
  background-color: rgb(14, 78, 142);
  color: white;
  border-radius: 30px;
  font: inherit;
  padding: 8px;
  border: 0px solid white;
}

.button:hover {
  background-color: rgb(103, 54, 137);
  cursor: pointer;
}
